div {
  background-color: red;
  width: 200px;
  height: 200px;
  color: white;
  animation-name: custom;
  animation-delay: 0.5;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
}

div:hover {
  animation-play-state: paused;
}

@keyframes custom {
  from {
    font-size: 1rem;
    color: white;
  }

  25% {
    font-size:3rem;
    color: rgb(251, 255, 0);
  }

  50% {
    font-size: 2.5rem;
    color: green;
  }

  75% {
    font-size: 1.5rem;
    color: blue;
  }

  to {
    font-size: 1rem;
    color: rgb(255, 0, 242);
  }
}
