* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #ccc;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.main__img-container img {
  max-width: 100%;
}



.main__curriculum-info {
  display: flex;
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__curriculum-title {
  margin: 1rem;
}



.main__curriculum-child > .main__curriculum-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}


.main__curriculum-info img {
  width: 40px;
}


.main__free {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 15rem;
  border: 1px solid;
}

form {
  padding: 2rem 15rem;
  border: 1px solid;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}