:root {
  --mesage-btn-width: 100px;
}

body{
  font-size: 2rem;
  height: 200vh;
  margin: 0;

}

.div1__container{
  background-color: yellow;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;

}

.div1 {
  background-color: red;
  width: var(--mesage-btn-width);
  height: calc(var(--mesage-btn-width) / 2);
  color: white;
  position: absolute;
  transition: all 1s ease-in-out;
  right: calc(50% - (var(--mesage-btn-width)/2));
  bottom: 80%;
}

.div1:focus{
  background-color: green;
  color: black;
  /* position: absolute; */
  position: fixed;
  right: 10px;
  bottom: 30px;

}

.span1{
  width: 50%;
  background-color: red;
  position: fixed;
  /* z-index: 10; */
  left: 0;
  top: 0;
}


.span2{
  width: 50%;
  background-color: rgb(0, 17, 255);
  position: fixed;
  /* z-index: 10; */
  right: 0;
  top: 0;
}